body {
  display: flex;
  flex-direction: row; /* Align children in a row */
  flex-wrap: wrap; /* Allow wrapping for flexibility */
  background-color: #333; /* Dark background */
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 0
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 0);
  background-size: 4px 4px; /* Size of the grid cells */
  color: #f0f0f0; /* Light text color */
  font-family: "EB Garamond", serif;
  font-size: 18px; /* Adjust font size as needed */
  line-height: 1.4; /* Adjust line height for readability */
  border: 1px solid #555; /* Dark border */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Deeper shadow for depth */
  margin: 0; /* Reset default margin */
  overflow-x: hidden; /* Prevent horizontal overflow */
  min-height: 100vh; /* Set minimum height to viewport height */
}

.codehilite {
  background: #222; /* Code block background */
  color: #f0f0f0; /* Code block text color */
  padding: 0.5em;
  border-radius: 4px;
  overflow: auto;
  font-family: "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9,
h10 {
  font-weight: 400;
}

#menu-toggle-button {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1;
  background-color: #444;
  color: #f0f0f0; /* Button text color */
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
}

ul.aside li {
  color: #999999; /* Default text color for list items */
}

a {
  color: #007bff; /* Link color */
  text-decoration: none;

  user-select: none; /* Prevent text selection */
}

a:hover,
a:focus {
  color: #00bfff; /* Hover and focus color (bright blue) */
  text-decoration: inherit;
}

/* Unlike form elements which have a :disabled psuedo-class, a has to be disabled w/ a class */
a.disabled {
  color: #cccccc; /* Light gray color */
  background-color: #363636; /* Light gray color */
  cursor: not-allowed; /* Cursor to indicate the link is not clickable */
  pointer-events: none; /* Prevents click events on the link */
  text-decoration: none; /* Optionally, remove underline */
}

.active a {
  color: #ff8c00; /* Active link color (orange) */
}

/* Hide aside scrollbar on WebKit */
aside::-webkit-scrollbar {
  display: none;
}

/* Hide aside scrollbar on Firefox */
aside {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

aside {
  flex: 1; /* Allow aside to grow */
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  max-width: 300px;
  min-width: 300px;
  background-color: #222; /* Dark aside background */
  color: #f0f0f0; /* Aside text color */
  overflow-y: auto;
  position: sticky;
  top: 0;
}

aside nav.toc ul {
  list-style: none;
  padding: 0em 0.5em;
}

aside nav.toc ul li {
  padding: 0.1em 0em;
}

aside footer {
  display: none;
}

/* Desktop viewport */
@media (min-width: 769px) {
  aside {
    display: flex; /* Make it a flex container */
    flex-direction: column; /* Arrange children vertically */
    height: 100vh; /* Fill the height of its parent container */
  }

  aside nav.toc {
    padding-bottom: 2rem;
  }

  aside footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: rgba(34, 34, 34, 0.8);
    padding: 10px;
    margin: 0;
    text-align: center;

    box-sizing: border-box;
  }
}

article {
  flex: 3; /* Allow article container to take the remaining space */
  padding: 1em;
  background: #2c2c2c; /* Slightly lighter background for articles */
  color: #f0f0f0; /* White text color for articles */
  border-left: 1px solid #555; /* Dark border */
  overflow-x: hidden; /* Prevent horizontal overflow in the article container */
  min-height: 100vh; /* Set minimum height to viewport height */

  max-width: 1024px;
}

article .drop-cap {
  font-size: 4em; /* Increase font size for the first letter */
  line-height: 1; /* Adjust line height for the drop cap */
  position: relative;
  float: left; /* Float the drop cap to the left */
  margin-right: 8px; /* Add some spacing between the drop cap and the text */
  margin-top: -2px;
}

article .heading-link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #007bff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

article .heading-link:hover {
  background-color: #00bfff;
}

article .heading-link i.fa-link {
  color: #fff;
  text-decoration: none;

  font-size: 1rem;
}

article footer {
  margin-top: 4rem;
}

article footer nav {
  border-top: 1px #494949 solid;
}

article footer nav a,
article footer nav a:hover {
  background-color: #ccc;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 4px;
  color: #000;
  font-family: "Arial", sans-serif;
}

article footer nav a:hover {
  background-color: #a9a9a9;
}

article footer nav a.previous {
  float: left;
}

article footer nav a.next {
  float: right;
}

article footer div.build_datetime {
  clear: both;
  font-size: 0.8em;
}

/* Mobile viewport */
@media (max-width: 768px) {
  body {
    flex-direction: column; /* Stack children vertically on small screens */
  }

  aside,
  article {
    flex: 0 0 100%; /* Make both containers full width on small screens */
    max-width: none; /* Override any max-width set previously */
  }

  /* Change the position of the aside to 'absolute' when in mobile mode */
  aside {
    position: relative;
    width: 100%; /* Make it full-width */
    max-height: 100%; /* Allow it to occupy the entire viewport height */
    overflow-y: auto; /* Enable vertical scrolling for the aside */
  }

  #menu-toggle-button {
    display: block; /* Show the button on small screens */
  }
}

/* Desktop viewport */
@media (min-width: 1200px) {
  /* Adjust this breakpoint as needed */
  article {
    column-count: 2; /* Create two columns */
    column-gap: 40px; /* Space between columns */
    padding: 1em;
    max-width: 1024px; /* Adjust as needed */
    margin: 0 auto; /* Center the article */
    /* Other styles remain the same */
  }

  /* Other existing styles for article */
}

/* Style for the table */
table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 8px;
  overflow: hidden; /* Hide overflowing borders */
}

/* Style for table header row */
th {
  background-color: #6d6d6d;
  border-top: 1px solid #434343; /* Add top border to header cells */
  border-bottom: 1px solid #434343; /* Add bottom border to header cells */
  border-left: 1px solid #434343; /* Add left border to header cells */
  border-right: 1px solid #434343; /* Add right border to header cells */
  padding: 8px;
  text-align: left;
}

/* Style for table header and data cells */
td {
  border: 1px solid #434343;
  padding: 8px;
  text-align: left;
}

/* Alternate row background color */
tr:nth-child(even) {
  background-color: #3e3e3e;
}

/* Enabled by JS only */
.js-only {
  display: none;
}

/* Word-wrap fixes */

* {
  word-wrap: break-word; /* Older browsers */
  overflow-wrap: break-word; /* Preferred for modern browsers */
}

a {
  word-break: break-all;
}

.language-bash {
  overflow-wrap: break-word;
  white-space: pre-wrap; /* Allows wrapping and preserves formatting */
}
